.container {
    text-align: center;
   
  
}
.container h2 {
    color: orangered;
    letter-spacing: 3px;
    padding-top: 35px;
}

.ContainerImg {
    display: flex;
    justify-content: space-between;
    
}

.containerFlex {
    display: flex;
}

.containerPrice {
    display: flex;
    flex-direction: column;
}

.containerPrice p {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    color: goldenrod;
    font-weight: bold;
}

.containerPrice span {
    color: black;
}

.container h4 {
    margin-top: 30px;
}